# Basic CI workflow to deploy latest changes from branch "main" to customob.ro
name: CI main -> https://customob.ro

# Controls when the workflow will run
on:
  # Triggers the workflow on push events but only for the "main" branch
  push:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch: 

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  cd:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]
        node: [20]

    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup node env
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Deploy to FTP server
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
          server: ftp.customob.ro
          username: deploy@customob.ro
          password: ${{secrets.FTP_PASSWORD_MAIN}}
          local-dir: ./
          clean-dir: true
          exclude: |
            .git/**
            .github/**
            .githooks/**
            scripts/**
            node_modules/**
            .DS_Store
            .gitignore
            .gitattributes
            README.md
            readme.md
